#header{
    background-color: transparent !important;
    box-shadow: none !important;
    min-height: 15px !important;
}

#titlebar .vivaldi, #titlebar .window-buttongroup, #titlebar #pagetitle{
    display: none;
}

/* .window-close > svg, .window-maximize > svg, .window-minimize > svg, .vivaldi-v > svg {
    width: 5px;
    height: 5px;
} */

/* #browser:not(.tabs-top) .vivaldi {
    height: 17px;
} */
/* #pagetitle{
    height: 18px !important;
    font-size: 5px !important;
} */
/* .window-buttongroup button {
    height: 15px;
} */
/* button.window-close, button.window-maximize, button.window-minimize{
    width: 7px;
    height: 12px;
}
button.vivaldi{
    width: 20px;
    height: 20px;
} */

/* Margin components for vertical tab */
.inner{
    margin: 0px 10px 10px 10px;
}

#browser:not(.address-top-off) > #main > .mainbar > .toolbar{
    border-radius: 10px;
    margin: 0px 10px 5px 10px;
}

#panels-container:not(.switcher){
    margin: 0px 5px 0px 0px;
    border-radius: 10px;
}

/* Tabs-left case */
#tabs-tabbar-container.left:not(.switcher){
    margin: 0px 5px 0px 0px;
    border-radius: 10px;
}

/* Tabs-Top case */
#tabs-tabbar-container.top:not(.switcher){
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    padding-top: 3px !important;
    border-color: transparent;
}
#tabs-container.top{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#webpage-stack{
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}

/* For tab-tile */
#webview-container:has(#webpage-stack .mosaic.visible){
    box-shadow: none;
    padding: 0;
}